body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #333; /* Example background color */
  color: #fff;
  text-align: center;
}

.countdown-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#countdown {
  display: flex;
  justify-content: center;
}

.time-unit {
  margin: 0 10px;
  text-align: center;
}

.time-unit span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.time-unit .label {
  margin-top: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

#new-year {
  font-size: 5rem; /* 调整年份大小 */
  opacity: 0.5; /* 设置透明度为50% */
  margin-top: 20px; /* 在年份和倒计时之间增加一些间隔 */
  color: #fff; /* 设置年份的颜色，白色 */
  font-weight: bold; /* 加粗字体 */
}
#gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* 或者根据需要调整 */
}

#spinner-gif {
  /* 如果需要，可以通过CSS调整GIF的大小 */
  max-width: 100px;
  max-height: 100px;
}